
// Variables

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;


$richBlack: #023C40;
$lightSlateGray: #77878B;
$platinium: #D6E5E3;
$aeroBlue: #D7FDEC;
$black: #000;
$white: #FFF;
$deepBlueGrad: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
$transparent: rgba(0,0,0,0);

$colors: (
	"primaryC": $platinium,
	"secondaryC": $richBlack,
	"whiteC": $white,
	"blackC": $black,
	"accentC": $aeroBlue,
	"accent2C": $platinium,
	"gradientC": $deepBlueGrad,
	"transparentC" : $transparent
	);


@function color($color-name) {
	@return map-get($colors, $color-name)
}

